<div class="card-panel xxx">
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
</div>