<div class="card-panel">
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
  Здесь будет русский текст  Здесь будет русский текст<br>
</div>